# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
.venv/

# Conda
*.conda
*.env

# Jupyter
.ipynb_checkpoints

# Data files
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*

# Logs
logs/

# Mac
.DS_Store

# Windows
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env
